@charset "UTF-8";
body {
  width: 1260px;
}
p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
form {
  margin: 45px auto;
  width: 680px;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px 30px;
}
.table, .buttun {
  margin: 15px 0;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  vertical-align: top;
}
input, textarea  {
  margin-left: 15px;
  font: 1em sans-serif;
  width: 230px;
  box-sizing: border-box;
  border: 1px solid #999;
}
#place {
  width: 450px;
}
#happen, #construction, #booked {
  width: 160px;
}
.box {
  margin-left: 10px;
  font: 1em sans-serif;
  width: 50px;
  border: 1px solid #999;
}
.button {
  margin-left: 10px;
}
#submit {
  width: 130px;
  cursor: pointer;
}
#info {
  width: 450px;
  height: 250px;
}
input:invalid {
    color: red;
    border: 2px solid red;
}
